<div class="tasks-info__comments">
  <h2 class="tasks-info__no-comments" *ngIf="comments?.length === 0">This task hasn't comments</h2>
  <app-comments-item *ngFor="let commentEl of comments" [comment]="commentEl" (removeTask)="onRemoveTask($event)"></app-comments-item>
</div>
