@import "../../../main-styles.scss";

.canban {
  &__main {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  &__content {
    margin-top: 40px;
  }

  &__title {
    font-size: 2rem;
    color: $title-color;
  }

  &__controllers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      justify-content: center;
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  &__columns {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1199px) {
      display: inline-block;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 25px;
    border: 1px solid #000000;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    @media (max-width: 1199px) {
      width: 100%;
    }
  }

  &__bar {
    padding: 8px 15px;
  }

  &__name {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }

  &__color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--title {
      font-weight: bold;
    }
    &--input {
      cursor: pointer;
      background: transparent;
      width: 50px;
      height: 50px;
      &::-webkit-color-swatch {
        border-radius: 50%;
        border: 3px solid #000;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        &:active {
          transform: scale(0.95);
        }

        &:hover {
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
        }
      }

    }
  }
}

.tasks {
  &__container {
    height: 420px;
    overflow-y: auto;
  }
  &__item {
    color: #fff;
    width: 100%;
    display: flex;
    padding: 10px;
    background: #8D99AC;
    border: 1px solid #000000;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 15px;

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
      0 3px 14px 2px rgba(0, 0, 0, 0.05);
  }

  &__text {
    width: 70%;
  }

  &__control {
    color: #fff;
    font-size: 1rem;
    & + & {
      margin-left: 5px;
    }
  }

  &__remove {
    &:hover {
      color: red;
    }
  }

  &__edit {
    &:hover {
      color: lightcoral;
    }
  }

  &__comment {
    &:hover {
      color: lightblue;
    }
  }

  &__info {
    &:hover {
      color: blue;
    }
  }

  &__add-new-btn {
    font-size: 4rem;
    font-weight: bold;
    font-family: $main-font;
    color: #fff;
    background: #8D99AC;
    border: 1px solid #000000;
    border-radius: 10px;
    max-height: 60px;
    line-height: 3.5rem;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks__container.cdk-drop-list-dragging .tasks__item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
