<app-header></app-header>
<main class="canban__main">
  <div class="container">
    <div class="canban__controllers">
      <input type="text" placeholder="Filter" class="filter-input" [(ngModel)]="searchFilterInput"/>
      <select class="sort-select" [(ngModel)]="sortingTypeInput" required>
        <option value="default" selected disabled hidden>Sort by...</option>
        <option value="sort-name">Sort by Name</option>
        <option value="sort-date">Sort by Date of creation</option>
      </select>
      <div class="sorting-direction__container">
        <div class="sorting-direction" >
          <input type="radio" name="sorting-direction" id="asc" value="asc" [(ngModel)]="sortingDirectionInput"/>
          <label for="asc" class="asc"></label>
        </div>
        <div class="sorting-direction">
          <input type="radio" name="sorting-direction" id="desc" value="desc" [(ngModel)]="sortingDirectionInput"/>
          <label for="desc" class="desc"></label>
        </div>
      </div>
    </div>
    <div class="canban__content">
      <h2 class="canban__title">{{ board?.name }}</h2>
      <div class="board">
        <div class="board__wrapper">
          <app-column-list [searchText]="searchFilterInput" [sortingDirection]="sortingDirectionInput" [sortingType]="sortingTypeInput"></app-column-list>
        </div>
      </div>
    </div>
  </div>
</main>
