<app-header></app-header>
<main class="boards__main">
  <div class="container">
    <div class="boards__controllers">
      <input type="text" placeholder="Filter" class="filter-input" [(ngModel)]="searchFilterInput">
      <select class="sort-select" [(ngModel)]="sortingTypeInput" required>
        <option value="sort-name">Sort by Name</option>
        <option value="sort-date">Sort by Date of creation</option>
        <option value="sort-do-tasks">Sort by Number of To Do tasks</option>
        <option value="sort-progress-tasks">Sort by Number of In progress tasks</option>
        <option value="sort-done-tasks">Sort by Number of Done tasks</option>
      </select>
      <div class="sorting-direction__container">
        <div class="sorting-direction">
          <input type="radio" name="sorting-direction" id="asc" value="asc" [(ngModel)]="sortingDirectionInput">
          <label for="asc" class="asc"></label>
        </div>
        <div class="sorting-direction">
          <input type="radio" name="sorting-direction" id="desc" value="desc" [(ngModel)]="sortingDirectionInput">
          <label for="desc" class="desc"></label>
        </div>
      </div>
    </div>
    <app-boards-list [searchText]="searchFilterInput" [sortingDirection]="sortingDirectionInput" [sortingType]="sortingTypeInput"></app-boards-list>
  </div>
</main>


