@import "../../../../main-styles.scss";

.tasks-info {
  &__container {
    position: fixed;
    background: #000000bf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  &__content {
    background: rgb(158, 134, 224);
    width: 50%;
    margin: 10% auto;
    border-radius: 6px;
  }

  &__header {
    position: relative;
    padding: 20px;
    background-color: #2228ad;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 800;
    font-size: 1rem;
  }
}
