<div class="tasks-info__container">
  <div class="tasks-info__content">
    <div class="tasks-info__header">
      <a class="tasks-info__close" (click)="onCancel()">X</a>
      <h2 class="tasks-info__title">TASK COMMENTS</h2>
    </div>
    <app-comments-list></app-comments-list>
  </div>
</div>
