<div class="boards-edit__container">
  <form class="boards-edit__form" [formGroup]="dashboardForm" (ngSubmit)="onSubmit()">
    <div class="boards-edit__header">
      <a class="boards-edit__close" (click)="onCancel()">X</a>
      <h2 class="boards-edit__title">{{editMode?'CHANGING BOARD' : 'ADD NEW BOARD'}}</h2>
    </div>
    <div class="boards-edit__inputs">
      <fieldset class="boards-edit__fieldset">
        <label for="name" class="boards-edit__input--title">NAME</label>
        <input type="text" class="boards-edit__input" placeholder="Enter name..." formControlName="name">
      </fieldset>
      <fieldset class="boards-edit__fieldset" *ngIf="!editMode">
        <label for="name" class="boards-edit__input--title">DESCRIPTION</label>
        <input type="text" class="boards-edit__input" placeholder="Enter description..." formControlName="description">
      </fieldset>
    </div>
    <div class="boards-edit__footer">
      <button type="submit" class="boards-edit__submit" [disabled]="!dashboardForm.valid">{{editMode?'UPDATE BOARD' : 'CREATE BOARD'}}</button>
    </div>
  </form>
</div>
