@import "../../../../main-styles.scss";

.boards-edit {
  &__container {
    position: fixed;
    background: #000000bf;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }

  &__form {
    background: #fff;
    width: 50%;
    margin: 10% auto;
    border-radius: 6px;
  }

  &__header {
    position: relative;
    padding: 20px;
    background-color: #2228ad;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 800;
    font-size: 1rem;
  }

  &__fieldset {
    color: #000;
    & + & {
      margin-top: 20px;
    }
  }

  &__inputs {
    padding: 40px;
  }

  &__input {
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #8d99ac;
    border-radius: 16px;
    font-family: $main-font;
    padding: 25px 30px;
    font-size: 1.5rem;
    width: 100%;
    &--title {
      color: #603fbd;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__footer {
    border-top: 1px dashed #ccc;
    text-align: center;
    padding: 20px;
  }

  &__submit {
    color: #fff;
    background: #603fbd;
    padding: 20px 100px;
    font-family: $main-font;
    font-size: 2.25rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
