@import "../../../../../main-styles.scss";

.boards {

  &__card {
    margin-left: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $purple;
    padding: 30px 40px;
    background: #fff;
    border: 1px solid #000000;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 300px;
    height: 230px;
    margin-right: 70px;

    &--title {
      font-size: 1.5rem;
    }

    &--date {
      font-size: 1.3rem;
      font-weight: 500;
    }

    &--description {
      margin-top: 15px;
      font-size: 1.2rem;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    }

    &--date-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--remove {
      cursor: pointer;
      font-size: 1rem;
      margin-left: 10px;
      &:hover {
        color: red;
      }
    }

    &--edit {
      cursor: pointer;
      font-size: 1rem;
      margin-left: 10px;
      &:hover {
        color: lightcoral;
      }
    }

    &--info {
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        color: blue;
      }
    }
  }
}
