<a class="boards__card">
  <div class="boards__card--text">
    <h4 class="boards__card--title"  appHighlight [searchedWord]="filterWord" [content]="board.name" [classToApply]="'highlight-filtered-letter'">{{ board.name }}</h4>
    <p class="boards__card--description">{{ board.description }}</p>
  </div>
  <div class="boards__card--date-controls">
    <span class="boards__card--date">{{ board.createdDate | date }}</span>
    <div class="boards__card--controls">
      <a class="boards__card--info" (click)="onShowBoardInfo()">
        <i class="fa-solid fa-circle-info"></i>
      </a>
      <a class="boards__card--edit" [routerLink]="[index, 'edit']">
        <i class="fa-solid fa-pencil"></i>
      </a>
      <a class="boards__card--remove" (click)="onDeleteBoard()">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </div>
</a>
