<div class="signup-container">
  <h2 class="signup-container__congrats-regular">Hello!</h2>
  <h3 class="signup-container__congrats-bold">Nice to see you :)</h3>

  <form #signupForm="ngForm" class="signup-container__form" (ngSubmit)="onSubmit(signupForm)">
    <h4 class="signup-form__title"><span>Create</span> your account</h4>
    <fieldset class="signup-form__field">
      <input
        type="email"
        id="email"
        class="signup-form__control"
        ngModel
        name="email"
        placeholder="Email"
        required
        email
      />
    </fieldset>
    <fieldset class="signup-form__field">
      <input
        type="password"
        id="password"
        class="signup-form__control"
        ngModel
        name="password"
        placeholder="Password"
        required
        minlength="8"
      />
    </fieldset>
    <fieldset class="signup-form__field">
      <input
        type="password"
        id="passwordConfirmation"
        class="signup-form__control"
        ngModel
        name="passwordConfirmation"
        placeholder="Password confirmation"
        required
      />
    </fieldset>
    <fieldset class="signup-form__field signup-form__submit-field">
      <button class="signup-form__submit" type="submit" [disabled]="!signupForm.valid || signupForm.value.password !== signupForm.value.passwordConfirmation">Sign up</button>
    </fieldset>
  </form>

  <p class="signup-container__redirect">Have an account ? <a routerLink="../login">Log in</a></p>
</div>
