<div class="boards__list">
  <h2 class="boards__title">Dashboard</h2>
  <div class="boards__cards">
    <div class="boards__adding-card">
      <a class="boards__adding-card--btn" routerLink="new">
        <span class="boards__adding-card--btn-plus">+</span>
        <span class="boards__adding-card--btn-text">Add new board</span>
      </a>
    </div>
    <app-boards-item
      *ngFor="let boardsEl of boards | appFilter: searchText | sort: sortingDirection : sortingType"
      [board]="boardsEl"
      [index]="boardsInStore.indexOf(boardsEl)"
      [filterWord]="searchText"
    ></app-boards-item>
  </div>
</div>
<router-outlet></router-outlet>
