@import "../../../../main-styles.scss";

.boards {
  &__title {
    font-size: 2rem;
    color: $title-color;
  }

  &__list {
    margin-top: 40px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1199px) {
      justify-content: center;
    }
  }

  &__adding-card {
    margin-top: 40px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $purple;
    padding: 20px 30px;
    width: 300px;
    height: 230px;
    margin-right: 70px;
    &--btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 20px;
      background: #fff;
      border: 1px solid #000000;
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      &-plus {
        font-weight: bold;
        font-size: 8rem;
      }
      &-text {
        font-size: 1.3rem;
        font-weight: 500;
      }
      transition: box-shadow 0.2s ease, transform 0.2s ease;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

