<div class="tasks-edit__container">
  <form class="tasks-edit__form" [formGroup]="tasksForm" (ngSubmit)="onSubmit()">
    <div class="tasks-edit__header">
      <a class="tasks-edit__close" (click)="onCancel()">X</a>
      <h2 class="tasks-edit__title"><h2 class="boards-edit__title">{{editMode?'CHANGING TASK' : 'ADD NEW TASK'}}</h2></h2>
    </div>
    <div class="tasks-edit__inputs">
      <fieldset class="tasks-edit__fieldset">
        <label for="name" class="tasks-edit__input--title">NAME</label>
        <input type="text" class="tasks-edit__input" placeholder="Enter name..." formControlName="name">
      </fieldset>
    </div>
    <div class="tasks-edit__footer">
      <button type="submit" class="tasks-edit__submit" [disabled]="!tasksForm.valid">{{editMode?'UPDATE TASK' : 'CREATE TASK'}}</button>
    </div>
  </form>
</div>
