@import "../../../../main-styles.scss";

.tasks {
  &__container {
    height: 420px;
    overflow-y: auto;
  }
  &__item {
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: flex;
    padding: 10px;
    background: #8D99AC;
    border: 1px solid #000000;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 15px;

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
      0 3px 14px 2px rgba(0, 0, 0, 0.05);
  }

  &__add-new-btn {
    font-size: 4rem;
    font-weight: bold;
    font-family: $main-font;
    color: #fff;
    background: #8D99AC;
    border: 1px solid #000000;
    border-radius: 10px;
    max-height: 60px;
    line-height: 3.5rem;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks__container.cdk-drop-list-dragging .tasks__item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
