<main class="auth-container">
  <section class="auth-container__aside">
    <img class="auth-container__img" src="../../../assets/auth-bg.png" alt="auth-bg">
    <h1 class="auth-container__title">Task Control Application</h1>
  </section>
  <section class="auth-container__content">
    <router-outlet></router-outlet>
  </section>
</main>

