.auth-container {
  display: flex;
  height: 100vh;
  @media (max-width: 1199px) {
    flex-wrap: wrap;
  }
  &__aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media (max-width: 1199px) {
      padding: 30px 0;
    }
  }

  &__title {
    font-size: 3rem;
    margin-top: 100px;
    text-align: center;
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}
