<div class="board__columns" cdkDropListGroup>
  <div
    class="board__column"
    *ngFor="let column of columns"
  >
    <div class="board__bar">
      <h3 class="board__name">{{column.name}}</h3>
    </div>
    <div
      class="board__content"
      [ngStyle]="{ backgroundColor: column.color }"
    >
      <button class="tasks__add-new-btn" (click)="onAddNewTask(column.id)">+</button>
      <app-tasks-list [columnId]="column.id" [tasksList]="column.tasks" [tasksInStore]="tasks" [searchTextInput]="searchText" [sortingDirectionInput]="sortingDirection" [sortingTypeInput]="sortingType"></app-tasks-list>
      <div class="board__color">
        <label
          class="board__color--title"
          for="input-board-color-to-do"
          >Choose background color:
        </label>
        <input
          class="board__color--input"
          type="color"
          id="input-board-color-to-do"
          value="#9e86e0"
          (change)="onChangeColor(column.id)"
          [(ngModel)]="column.color"
        />
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
