@import "../../../../main-styles.scss";

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #000;
  padding: 0 100px;
  @media (max-width: 1199px) {
    padding: 0 50px;
  }
  &__congrats-regular {
    color: $purple;
    font-size: 3rem;
    font-weight: 500;
  }
  &__congrats-bold {
    color: $purple;
    font-size: 3rem;
    font-weight: 600;
  }
  &__form {
    margin-top: 50px;
  }
  &__redirect {
    margin-top: 50px;
    text-align: center;
    color: $purple;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.login-form {
  &__title {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 50px;
    & > span {
      color: $purple;
    }
  }

  &__field {

    &+& {
      margin-top: 30px;
    }
  }

  &__control {
    font-size: 1.5rem;
    border: 1px solid #8D99AC;
    padding: 25px 30px;
    border-radius: 16px;
    width: 100%;
    &::placeholder {
      color: $light-gray;
    }
  }

  &__submit-field {
    display: flex;
    justify-content: center;
  }

  &__submit {
    padding: 20px 100px;
    color: #fff;
    background-color: $purple;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 2.25rem;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}
