<div class="login-container">
  <h2 class="login-container__congrats-regular">Hello!</h2>
  <h3 class="login-container__congrats-bold">Welcome back :)</h3>

  <form #loginForm="ngForm" class="login-container__form" (ngSubmit)="onSubmit(loginForm)">
    <h4 class="login-form__title"><span>Login</span> your account</h4>
    <fieldset class="login-form__field">
      <input
        type="email"
        id="email"
        class="login-form__control"
        ngModel
        name="email"
        placeholder="Email"
        required
        email
      />
    </fieldset>
    <fieldset class="login-form__field">
      <input
        type="password"
        id="password"
        class="login-form__control"
        ngModel
        name="password"
        placeholder="Password"
        required
        minlength="6"
      />
    </fieldset>
    <fieldset class="login-form__field login-form__submit-field">
      <button class="login-form__submit" type="submit">Login</button>
    </fieldset>
  </form>

  <a class="login-container__redirect" routerLink="../signup">Create Account</a>
</div>
