@import "../../../main-styles.scss";

.header {
  position: fixed;
  width: 100%;
  z-index: 111;
  background: #2228ad;

  &__nav {
    padding: 20px 35px;
    border-bottom: 5px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 2rem;
    color: $title-color;
    text-align: center;
  }

  &__user-info {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
}


.user-info__logout {
  margin-left: 50px;
  text-align: center;
}

.user-info__email {
  text-align: center;
}

.logout-btn {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


