<header class="header">
  <nav class="header__nav">

    <h1 class="header__logo"><a href="#">Task Manager</a></h1>
    <ul class="header__user-info">
      <li class="user-info__email">Welcome, {{ email }}</li>
      <li class="user-info__logout"><a class="logout-btn" (click)="onLogout()">LOG OUT</a></li>
    </ul>
  </nav>
</header>
