@import "../../../../../../main-styles.scss";
.tasks-info {
  &__item {
    color: #fff;
    width: 100%;
    display: flex;
    padding: 10px;
    background: #8D99AC;
    border: 1px solid #000000;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 15px;

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
      0 3px 14px 2px rgba(0, 0, 0, 0.05);

    & + & {
      margin-top: 20px;
    }
  }
  &__control {
    color: #fff;
    font-size: 1rem;
    & + & {
      margin-left: 5px;
    }
  }

  &__remove {
    &:hover {
      color: red;
    }
  }
}
