<div class="tasks-info__item">
  <span>{{ comment.text }}</span>
  <button class="tasks-info__control tasks-info__remove" (click)="onRemoveTask()">
    <i class="fa-solid fa-trash"></i>
  </button>
</div>
