<div class="comments-add__container">
  <form class="comments-add__form" [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
    <div class="comments-add__header">
      <a class="comments-add__close" (click)="onCancel()">X</a>
      <h2 class="comments-add__title">ADD NEW COMMENT</h2>
    </div>
    <div class="comments-add__inputs">
      <fieldset class="comments-add__fieldset">
        <label for="name" class="comments-add__input--title">TEXT</label>
        <input type="text" class="comments-add__input" placeholder="Enter name..." formControlName="text">
      </fieldset>
    </div>
    <div class="comments-add__footer">
      <button type="submit" class="comments-add__submit" [disabled]="!commentsForm.valid">ADD COMMENT</button>
    </div>
  </form>
</div>
