@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$main-font: "Quicksand", sans-serif;
$body-bg: linear-gradient(
  236.22deg,
  #2228ad 7.72%,
  rgba(34, 40, 173, 0) 142.5%
);

$title-color: #fee996;

$light-gray: #8d99ac;
$purple: #603fbd;

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 300 16px/1 $main-font;
  color: #fff;
}

body {
  background: $body-bg no-repeat;
  background-attachment: fixed;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

input,
textarea,
fieldset,
span,
select {
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.filter-input {
  max-width: 300px;
}

.sort-select {
  max-width: 450px;
}

.filter-input::placeholder,
.sort-select:invalid {
  color: $light-gray;
}

.filter-input,
.sort-select {
  margin-top: 15px;
  padding: 0 20px;
  background: #ffffff;
  border: 1px solid $light-gray;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-size: 1.5rem;
  text-align: center;
  height: 65px;
  font-family: $main-font;
}

.sort-select {
  margin-left: 15px;
}

.sorting-direction__container {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
}

.sorting-direction input {
  display: none;
}

.sorting-direction .asc::before {
  content: "ASC";
}

.sorting-direction .desc::before {
  content: "DESC";
}

.sorting-direction label {
  cursor: pointer;
}

.sorting-direction label::before {
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #ffffff;
  border: 1px solid $light-gray;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  font-weight: bold;
}

.sorting-direction input:checked + label::before {
  color: $purple;
  border: 5px solid $purple;
}

.sorting-direction + .sorting-direction {
  margin-left: 30px;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

.highlight-filtered-letter {
  color: red;
  background-color: yellow;
}

