<span class="tasks__text" appHighlight [searchedWord]="filterWord" [content]="task.name" [classToApply]="'highlight-filtered-letter'">{{ task.name }}</span>
<div class="tasks__controllers">
  <button class="tasks__control tasks__remove" (click)="onDeleteBoard()">
    <i class="fa-solid fa-trash"></i>
  </button>
  <button class="tasks__control tasks__edit" [routerLink]="[task.type, index, 'edit']">
    <i class="fa-solid fa-pencil"></i>
  </button>
  <button class="tasks__control tasks__comment" [routerLink]="[task.type, task._id, 'comments']">
    <i class="fa-solid fa-comment"></i>
  </button>
  <button class="tasks__control tasks__info" [routerLink]="[task.type, task._id, 'info']">
    <i class="fa-solid fa-circle-info"></i>
  </button>
</div>

