@import "../../../../../main-styles.scss";

.tasks {

  &__text {
    width: 70%;
  }

  &__control {
    color: #fff;
    font-size: 1rem;
    & + & {
      margin-left: 5px;
    }
  }

  &__remove {
    &:hover {
      color: red;
    }
  }

  &__edit {
    &:hover {
      color: lightcoral;
    }
  }

  &__comment {
    &:hover {
      color: lightblue;
    }
  }

  &__info {
    &:hover {
      color: blue;
    }
  }
}
